<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Reactive Form (Nested)</p>
  <form novalidate [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <span *ngIf="formGroup.get('name').hasError('required') && formGroup.get('name').touched">Name is Required</span>
    <ion-input type="text" placeholder="Your full name" formControlName="name" (keydown)="nameKeydown()"></ion-input>
    
    <div formArrayName='emailArray'>
      <div [formGroupName]='i' *ngFor='let a of formGroup.controls.emailArray.controls;let i=index' >
        <ion-item no-padding>
          <ion-input type="text" formControlName="email" placeholder='Email'></ion-input>
          <ion-icon name="add" (click)='addEmail()'></ion-icon>
          <ion-icon *ngIf='formGroup.controls.emailArray.length>1' name="trash" (click)='removeEmail(i)'></ion-icon>
        </ion-item>
      </div>
    </div>


    <!-- 
    <div formArrayName="cities">
      <div [formGroupName]='i'>
        <ion-input type="text" placeholder="City" formControlName='city'></ion-input>
      </div>
    </div>
    <ion-button (click)='addNewCity()'>Add City</ion-button> -->









    <ion-button type="submit" [disabled]='!formGroup.valid'>Sign up</ion-button>
  </form>





  <ion-button (click)='patchValue()'>Patch Value</ion-button>
  <ion-button (click)='makeExcel()'>Make Excel</ion-button>
  <!-- <p>Reactive Form Ends</p> -->

</ion-content>