<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <span (click)='hideAtLeastOneMsg()'>
        <ion-item lines='none'
          *ngIf='formGroup.touched && !formGroup.valid && !userHasCancelled &&!(formGroup.controls["rardDateUseRangeEnd"].value!=="" && formGroup.controls["rardDateUseRangeStart"].value==="" )'>
          <!-- this should not show when date range error is there -->
          <ion-label color="danger">
            Input for at least one field is required.
          </ion-label>
          <ion-icon name='close'></ion-icon>
        </ion-item>
      </span>

      <div id="custom-overlay" [style.display]="showSearchingOverlay ? 'flex': 'none'">
          <div class="flb">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

  <form novalidate [formGroup]="formGroup" *ngIf='!showResults'>
    <ion-input clearInput type="text" formControlName="serialNo" placeholder="Serial No."></ion-input>

    <ion-input clear-input='true' type="text" formControlName="owner" placeholder="Owner"></ion-input>

    <!-- <ion-input clearInput type="text" formControlName="rardDetailedVehicleType" placeholder="Detailed Vehicle Type | F"></ion-input> -->

    <ion-input clearInput type="text" formControlName="assetType" placeholder="Asset Type"></ion-input>

    <ion-input clearInput type="text" formControlName="yearOfManufacture" placeholder="Year of Manufacture | YY ">
    </ion-input>

    <ion-item lines='none'>
      <ion-label>Range</ion-label>
      <ion-range [disabled]='formGroup.controls["yearOfManufacture"].value.length>0'
        formControlName='yearOfManufactureRange' dualKnobs="true" pin='true' min="00" max="99" color="primary">
        <ion-label slot="start">00</ion-label>
        <ion-label slot="end">99</ion-label>
      </ion-range>
    </ion-item>

    <ion-datetime placeholder="Date put into Use" display-format="DD MMM YYYY" picker-format="DD MMM YYYY"
      formControlName="dateUse" [pickerOptions]="customOptions"></ion-datetime>

    <span>
      <ion-item lines='none'
        *ngIf='formGroup.touched && (formGroup.controls["dateUseRangeEnd"].value!=="" && formGroup.controls["dateUseRangeStart"].value==="" )'>
        <ion-label color="danger">
          Start Date Required with End Date.
        </ion-label>
        <ion-icon name='close'></ion-icon>
      </ion-item>
    </span>

    <ion-item lines='none' [disabled]='formGroup.controls["dateUse"].value!==""'>
      <ion-label>Range</ion-label>
      <ion-datetime placeholder='Start Date' formControlName="dateUseRangeStart"></ion-datetime>
      <ion-datetime placeholder='End Date' formControlName="dateUseRangeEnd"></ion-datetime>
    </ion-item>

    <ion-input clearInput type="text" formControlName="gs1CompanyCode" placeholder="Vehicle Manufactire's Code/Vendor Code"></ion-input>

    <ion-row style="height: 30px"></ion-row>
  </form>

  <ngx-datatable *ngIf='showResults' class='material striped' [rows]="searchedItems" [columns]="columns"
    [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'"
    [limit]="10">
  </ngx-datatable>

  <ngx-datatable *ngIf='false' class="material fullscreen striped" [rows]="items" [scrollbarH]="true"
    [headerHeight]="50" [footerHeight]="30" [rowHeight]="'auto'" [limit]="3">
    <ngx-datatable-column name="assetType">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="yearOfManufacture"><strong>{{value}}</strong></ngx-datatable-column>
    <ngx-datatable-column name="owner"><strong>{{value}}</strong></ngx-datatable-column>
    <ngx-datatable-column name="detailedVehicleType"><strong>{{value}}</strong></ngx-datatable-column>
    <ngx-datatable-column name="serialNumber"><strong>{{value}}</strong></ngx-datatable-column>
    <ngx-datatable-column name="datePutIntoUse"><strong>{{value}}</strong></ngx-datatable-column>
    <ngx-datatable-column name="vendorCode"><strong>{{value}}</strong></ngx-datatable-column>
  </ngx-datatable>

</ion-content>

<ion-footer no-border text-center>
  <ion-toolbar>
    <ion-button (click)='makeExcel()' [disabled]='searchedItems.length<1'>
      <ion-icon name="arrow-round-down"></ion-icon>
    </ion-button>
    <ion-button type="submit" (click)='onSubmit(formGroup)' [disabled]='!formGroup.valid && !showResults'>
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>