<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>HttpSamples</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-input type='text' name='username' placeholder='username' [(ngModel)]='userName'></ion-input>
  <ion-input type='text' name='password' placeholder='password' [(ngModel)]='password'></ion-input>
  <ion-button type='submit' (click)="submit()">Submit</ion-button>



  <ion-list *ngFor='let user of users'>
    <span (click)='selected(user)'>
      <ion-item>{{user.name}}</ion-item>
    </span>
    <!-- <ion-item>{{user.title}}</ion-item> -->


  </ion-list>
</ion-content>